.results-learning {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 100%;
  background: hsl(249deg 30% 21%);
  display: flex;
  padding: 20px 0;
  justify-content: center;
  box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%),
    0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%);

  .title {
    font-size: 20px;
    font-weight: 500;
  }
}

.content {
  width: 90%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
}

.info {
  display: flex;
  width: 100%;
  margin-top: 20px;
}

.stats {
  width: 70%;
  border: 1px solid;
  border-radius: 4px;

  > div {
    border-bottom: 1px solid;
    padding: 10px;
    display: flex;

    &:last-child {
      border-bottom: 0;
    }

    .label {
      width: 50%;
      display: flex;
      align-items: center;

      .mat-icon {
        margin-right: 10px;
      }
    }

    .value {
      width: 20%;
      text-align: right;
    }

    .points {
      text-align: right;
      width: 30%;
    }
  }

  .total-points {
    font-size: 20px;

    .points {
      width: 50%;
      font-weight: 500;
    }
  }
}

.actions {
  width: 30%;
  display: flex;
  justify-content: right;
}

.exit {
  height: 30px;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  background-color: #307bff;
}

.concepts {
  display: flex;
  margin-top: 20px;
  border: 1px solid;
  border-radius: 4px;
  flex-direction: column;
}

.concepts-head {
  display: flex;
  border-bottom: 1px solid;

  > div {
    text-align: left;
    padding: 10px 0;
    display: flex;
    align-items: center;
  }
}

.concepts-head div:nth-child(-n + 2),
.concepts-body div div:nth-child(-n + 2) {
  width: 40%;
  padding-left: 10px;
}

.concepts-head div:nth-last-child(-n + 2),
.concepts-body div div:nth-last-child(-n + 2) {
  width: 10%;
  text-align: center;
}

.concepts-body div div:first-child {
  font-weight: 500;
}

.concepts-body {
  > .concept {
    display: flex;
    border-bottom: 1px solid;
    padding: 10px 0;

    &:last-child {
      border-bottom: 0;
    }
  }
}
