<div class="wrapper">
  <div class="list-courses">
    <div class="course" *ngFor="let course of courses">
      <div class="image">
        <img src="{{ course.image }}" alt="" />
      </div>
      <div class="content">
        <div class="info">
          <div class="name">{{ course.name }}</div>
          <div class="advance">
            {{ course.conceptsLearned }}/{{ course.totalConcepts }} palabras
            aprendidas
          </div>
        </div>
        <mat-progress-bar
          mode="determinate"
          value="{{ course.progress }}"
        ></mat-progress-bar>
        <div class="info">
          <div class="review">...</div>
          <!-- <div class="review">Repasar en {{ course.reviewIn }} hora (s)</div> -->
          <div class="actions">
            <a mat-button [routerLink]="['/courses/', course.id, 'learn']"
              >APRENDER</a
            >
            <a mat-button>REPASAR</a>
            <a mat-button [routerLink]="['/courses/', course.id, 'info']"
              >VER</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
