<div class="wrapper">
  <div class="list-courses" *ngIf="showCourses">
    <div class="course" *ngFor="let course of courses">
      <div class="image">
        <img src="{{ course.image }}" alt="" />
      </div>
      <div class="content">
        <div class="info">
          <div class="name">{{ course.name }}</div>
          <div class="advance">
            {{ course.conceptsLearned }}/{{ course.totalConcepts }} palabras
            aprendidas
          </div>
        </div>
        <mat-progress-bar
          mode="determinate"
          value="{{ course.progress }}"
        ></mat-progress-bar>
        <div class="info">
          <div class="review">
            <div *ngIf="reviewIn(course.reviewTime) !== '-'">
              Repasar en {{ reviewIn(course.reviewTime) }}
            </div>
            <div></div>
          </div>
          <div class="actions">
            <a mat-button [routerLink]="['/courses/', course.id, 'learn']"
              >APRENDER</a
            >
            <a mat-button [routerLink]="['/courses/', course.id, 'review']"
              >REPASAR</a
            >
            <a mat-button [routerLink]="['/courses/', course.id, 'info']"
              >VER</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="no-courses" *ngIf="!showCourses">
    <h1>No estás suscrito a ningún curso</h1>
    <a mat-button (click)="back()">
      Explorar cursos
      <mat-icon>keyboard_arrow_right</mat-icon>
    </a>
  </div>
</div>
