h1 {
  color: #fff;
  position: relative;
  top: 100px;
}

.mat-button {
  background-color: #307bff;
  margin: 0 10px;
  border-radius: 20px !important;
  display: flex;
  align-items: center;
  position: relative;
  top: 130px;
  color: #fff;
  height: 40px;
}

::ng-deep {
  .info {
    border: 0 !important;
  }
}
