<div class="wrapper">
  <div class="info-course">
    <div class="header">
      <div class="image">
        <img src="{{ course?.image }}" alt="" />
      </div>
      <div class="info-content">
        <div class="name">{{ course?.name }}</div>
        <div class="description">{{ course?.description }}</div>
        <div class="more-info">
          <div class="owner">
            Creado por:<span>{{ courseOwner }}</span>
          </div>
          <div class="actions">
            <a class="challenge" mat-button [routerLink]="['/courses/', courseId, 'challenge']">
              <mat-icon matSuffix>track_changes</mat-icon>
            </a>
            <a class="delete" mat-button (click)="unjoin()">
              <mat-icon matSuffix>exit_to_app</mat-icon>
            </a>
            <a class="restart" mat-button (click)="restartProgress()">
              <mat-icon matSuffix>restore</mat-icon>
            </a>
            <a mat-button [routerLink]="['/courses/', courseId, 'learn']"
              >APRENDER</a
            >
            <a mat-button [routerLink]="['/courses/', courseId, 'review']"
              >REPASAR</a
            >
            <a
              *ngIf="isOwner"
              mat-button
              [routerLink]="['/courses/', courseId, 'edit']"
              >EDITAR</a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="content">
      <table
        #listWords
        mat-table
        [dataSource]="dataSource"
        class="mat-elevation-z8"
      >
        <ng-container matColumnDef="concept">
          <th mat-header-cell *matHeaderCellDef>Palabra</th>
          <td mat-cell *matCellDef="let element">{{ element.concept }}</td>
        </ng-container>
        <ng-container matColumnDef="answer">
          <th mat-header-cell *matHeaderCellDef>Respuesta</th>
          <td mat-cell *matCellDef="let element">{{ element.answer }}</td>
        </ng-container>
        <ng-container matColumnDef="review">
          <th mat-header-cell *matHeaderCellDef>Repasar en</th>
          <td mat-cell *matCellDef="let element">{{ reviewIn(element.timeReview) }}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </div>
</div>
