<div class="wrapper">
    <div class="explore-courses">

      <div class="titulo">En esta página puede explorar cursos creados por otros usuarios <br><br>
        y se puede registrar a ellos para poder completarlos
      </div>
        <div class="course" *ngFor="let course of listCourses">
            <div class="image">
              <img
                src="{{course.image}}"
                alt=""
              />
            </div>
            <div class="content">
              <div class="info">
                <div class="name">{{course.name}}</div>
                <div class="advance">{{course.totalWords}} palabras por aprender</div>
              </div>
              <mat-progress-bar mode="determinate" value="0"></mat-progress-bar>
              <div class="info">
                <div class="review">Tiempo estimado de aprendizaje: {{course.reviewIn}} hora (s)</div>
                <div class="actions">
                  <a mat-button>APRENDER</a>
                </div>
              </div>
            </div>
          </div>
    </div>  
    <br><br><br><br>
</div>

