<div class="wrapper">
    <div class="explorar_main">
        <h2>En esta página podremos explorar cursos creados por otros usuarios
            y nos podremos registrar a ellos para poder completarlos
        </h2>
        
        <br><br><br>

        <h2>
            Este es un prototipo de como podría quedar la ventana de explorar cursos:
        </h2>
        <img src="../assets/explorar_curso.png" alt="Fallo al cargar la imagen">
        <br><br><br>
        <br><br><br>







        






    </div>
</div>

