.explore {
  display: flex;
  align-items: center;
  flex-direction: column;

  .course {
    width: 90%;
    display: flex;
    margin: 10px 0;
    border: 1px solid #e4e8eb;
    border-radius: 10px;
    color: #fff;
    padding: 20px 10px;
    max-width: 700px;

    .image {
      width: 20%;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: start;

      img {
        border-radius: 30%;
        width: 80px;
        height: 80px;
      }
    }

    .content {
      width: 78%;

      .name {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 5px;
      }

      .info-content {
        display: flex;
        justify-content: space-between;

        .info {
          display: flex;
          position: relative;
          top: 5px;

          > div {
            display: flex;
            align-items: center;
            margin-right: 15px;
          }

          .mat-icon {
            margin-right: 3px;
          }

          .time {
            margin: 0;
          }

          .owner {
            border-left: 1px solid;
            margin-left: 7px;
            padding-left: 7px;
            font-weight: 500;
          }

          .concepts,
          .time {
            .mat-icon {
              font-size: 20px;
              height: 20px;
              width: 20px;
            }
          }
        }

        .actions {
          display: flex;
          justify-content: end;

          .mat-button {
            background-color: #307bff;
            margin: 0 10px;
            border-radius: 20px !important;

            &:last-child {
              margin-right: 0;
            }
          }
        }
      }
    }
  }
}
