.explore {
  display: flex;
  align-items: center;
  flex-direction: column;

  .course {
    width: 90%;
    display: flex;
    margin: 10px 0;
    border: 1px solid #e4e8eb;
    border-radius: 10px;
    color: #fff;
    padding: 20px 10px;
    max-width: 700px;

    .image {
      width: 20%;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: start;

      img {
        border-radius: 30%;
        width: 80px;
        height: 80px;
      }
    }

    .content {
      width: 78%;

      .name {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 5px;
      }

      .actions {
        display: flex;
        justify-content: end;

        .mat-button {
          background-color: #307bff;
          margin: 0 10px;
          border-radius: 20px !important;

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }
}
