<div class="wrapper">
  <div class="learn-course">
    <div class="header">
      <div class="title">Sesión 1</div>
      <div class="close">
        <mat-icon>close</mat-icon>
      </div>
    </div>
    <div class="content">
      <div class="info">
        <mat-progress-bar
          class="progress"
          mode="determinate"
          value="50"
        ></mat-progress-bar>
        <app-show-answer *ngIf="showAnswer"></app-show-answer>
        <app-show-answer-input *ngIf="showInput"></app-show-answer-input>
        <app-show-answer-error *ngIf="showError"></app-show-answer-error>
      </div>
      <div class="more-info">
        <div class="points">
          <span>0</span>
        </div>
        <div class="next">
          <mat-icon>chevron_right</mat-icon>
          <span class="action">Siguiente</span>
        </div>
      </div>
    </div>
  </div>
</div>
